!! Colorscheme

! special
*.foreground: #E4E1DD
*.background: #22232E
*.cursorColor: #CA6D73

! red
*.color1: #CA6D73
*.color9: #CA6D73

! green
*.color2: #B4C7A7
*.color10: #B4C7A7

! yellow
*.color3: #E6C193
*.color11: #E6C193

! blue
*.color4: #939DBD
*.color12: #939DBD

! magenta
*.color5: #AD8DBD
*.color13: #AD8DBD

! cyan
*.color6: #9BC2B1
*.color14: #9BC2B1

URxvt.transparent:   true
URxvt.shading:       25
URxvt.font: xft:FantasqueSansM Nerd Font:style=Regular:size=14
URxvt.boldFont: xft:FantasqueSansM Nerd Font:style=Bold:size=14
URxvt.italicFont: xft:FantasqueSansM Nerd Font:style=Italic:size=14
URxvt.boldItalicfont: xft:FantasqueSansM Nerd Font:style=Bold Italic:size=14
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
